@model VacTrac.Models.WeeklyCounts

@{
    ViewData["Title"] = "Delete Weekly Count";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Dictionary<int, string> Vaccines = (Dictionary<int, string>)ViewData["Vaccines"];
}


<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Vaccine
        </dt>
        <dd class="col-sm-10">
            @Vaccines[Model.VaccinesID]
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccuVaxCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccuVaxCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FridgeCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FridgeCount)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dispensed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dispensed)
        </dd>*@
    </dl>
    
    <form asp-action="DeleteWeeklyCount">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-secondary" asp-action="WeeklyCounts">Back to List</a>
    </form>
</div>
