@model IEnumerable<VacTrac.Models.Vaccines>

@{
    ViewData["Title"] = "Vaccines";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Vaccines</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VaccineName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthlyPAR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeeklyPAR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Private)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VaccineName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthlyPAR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeeklyPAR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Private)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryTotal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="DeleteVaccine" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
